.box{
    background-color: slateblue;
    padding: 20px;
    border-radius: 20px;
}
.container{
    display: flex;
    gap: 20px;
}
@media screen and (max-width: 576px) {
    .container{
        flex-direction: column;
    }
}
.item{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid tomato;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}